/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para o cabeçalho */
  header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  /* Estilos para o contêiner do quebra-cabeça */
  .puzzle-container {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  /* Estilos para o guia */
  .guide {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para o rodapé */
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
  }