/* frontend/src/app/components/puzzle/puzzle.component.css */
.puzzle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.row {
  display: contents;
}

.block {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  cursor: pointer;
}

.block.empty {
  background-color: #fff;
}